body {
  font-family: "Lato", sans-serif;
}

.status-h3{
  font-size: 1.5rem;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  background-color: white;
  transition: 0.5s;
}

.verticleFill{
  flex : auto;
  display: flex;
  flex-direction: column;
}

.sidebar-container{
  border: 1px solid black;
}
.course-container{
  height: 100%;
}
.sidebar-container-inside{
  border: 1px solid black;
  flex : auto;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.topLeftRounded{
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.topRightRounded{
  border-top-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.btn{
  background-color: Black;
}

.btn-outline-light{
  background-color: transparent;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;

}

.openbtn:hover{
  background-color: #545b62;
}
.approvebtn {
  /*font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 25px;
  border: none; */
  width: 100%;
}

.backbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 25px;
  border: none;
  max-width: 100px;
}

#middle {
  transition: margin-right .5s;
  padding: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#wrap{
  height: 90vh;
}
.Scrollstyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: black;
}

.Scrollstyle::-webkit-scrollbar
{
	width: 12px;
	background-color: black;
}

.Scrollstyle::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6c757d;
}

.shaddow {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
#mySidebar{
  display: flex;
  flex-flow: column;
}


.row-1{
  flex-shrink: 1;
}
.row-2{
  flex-grow: 1;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.rowDropDown {
  flex-wrap: nowrap;
}

.outsideContainer{
  height: 100%;
  background-color: white;
  border: 1px solid black;
  data-mdb-perfect-scrollbar='true';
}
.paddingTen{
  padding: 10px !important;
}
.scheduleContainer{
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  data-mdb-perfect-scrollbar='true';
}
legend {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.StatusSheetTitles{
  font-size: 1.3rem;
}

.searchContainer{
  /*flex: 1 1 auto;*/
  width: 100%;
  background-color: white;
  /*display: flex;
  flex-direction: column;
  height: 100%*/
  flex-grow: 1;
}
.filterContainer{
  height: auto;
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  background-color: white;
}

.statusSheetSectionContainer{
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}
.box-container {
	height: auto;
}

.box-item {
	width: 100%;
	z-index: 1000;
  margin-top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
 .top-row{
   height: 10%;
 }

.search {
position: relative;
display: flex;
width: 100%;
}

.searchTerm {
width: 100%;
height: 36px;
border: 1px solid black;
border-right: none;
padding: 5px;
outline: none;
color: black;
}

.hide{
  display: none;
}

.greyOut {
  background-color: rgba(46, 49, 49, .4) !important;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid black;
background: white;
text-align: center;
color: black;
cursor: pointer;
font-size: 20px;
}

.headerText{
width: 100%;
background-color: #960000;
color: white;
padding-left: 10px;
margin-bottom: 10px;
border-bottom: solid black;
}

.ScheduleheaderText{
background-color: #960000;
color: white;
padding-left: 10px;
margin-bottom: 10px;
}

.SSheaderText{
width: 100%;
background-color: #960000;
color: white;
padding-left: 10px;
text-align: center;
}


/* Customize the label (the container) */
.Checkcontainer {
display: block;
position: relative;
padding-left: 35px;
margin: 5px;
margin-left: 10px;
cursor: pointer;
font-size: 17px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.Checkcontainer input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
border: 1px solid black;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.Checkcontainer:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Checkcontainer input:checked ~ .checkmark {
background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.Checkcontainer input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.Checkcontainer .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid black;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.dropdown,.dropdown:hover,.dropdown:active,.dropdown:focus{
background-color: #960000 !important;
color: white !important;
border-color: black !important;
}

.dropdown option{
background-color: #960000 !important;
color: white !important;
}

.border{
  border: 1px solid black !important;
  flex: 1 1 auto;
}

.border-bottom{
  border-bottom: 1px solid black !important;
}

.form-group{
  margin-bottom: 0px;
}

.form-border-semester{
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  border-left: 0px solid black !important;
  border-right: .5px solid black !important;
}

.form-border-year{
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  border-left: .5px solid black !important;
  border-right: 0px solid black !important;
}

.height-row{
  min-height: 3rem;
}

.navbar{
  height : 10%;
}


.itemInvisible{
  display: none;
}

.or{
  width: 100%;
  text-align: center;
}
.select-txt{
  font-weight: bold;
  margin-bottom: .5em ;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.whiteOutside{
  height:auto;
  width:100%;
  background-color: white;
}


.sr-only {
  display: none;
}
