.bg-gcc-primary {
    background-color: #960000;
}

.student-info {
    text-align: center;
    color: white;
    min-width: 100%;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 100%;
}

.student-info h1 {
    margin-top: 10px;
}

.height100p10{
  height: 100%;
  padding-bottom: 25px;
}
.student-info .container {
    text-align: left
    margin: 10px;
    margin-top: 30px;
}

.landing-schedule {
    height: 500px;
    margin: 10% 20px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 30px;
}

.schedule-semester {
    margin: 10px;
    background-color: white;
    color: black;
    /* min-height: 200px; */
    border: 2px solid black;
}

.schedule-semester h1, h2, h3, h4, h5, h6 {
    margin: 5px 10px;
}

.schedule-semester .col-5 {
    margin: 10px;
    border: 1px solid black;
    min-width: 40%;
}

.btn-gcc {
    margin: 20px;
}

#Scrollstyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #555;
}

#Scrollstyle::-webkit-scrollbar
{
  width: 12px;
  background-color: #555;
}

#Scrollstyle::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F5F5F5;
}
legend {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

/* light red #b0002a */
/* dark red #960000 */
