/* CSS used for both student landing page 
    and advisor viewing student page */

.hb-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 25px;
    margin: 0px 20px;
    border: none;
}