<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Student Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="project.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <button type="button" class="btn-dark">Back</button>
            </div>
            <div class="row">
                <div class="col-4 bg-gcc-primary student-info">
                    <h1>Sally Silly</h1>
                    <h2>Student ID: 209123</h2>

                    <div class="container" style="margin-top: 40px;">
                        <p>Credits Completed: 54</p>
                        <p>Graduation Semester: Spring 2021</p>
                        <p>Major: Computer Science</p>
                        <p>Schedule Status: Pending</p>
                    </div>
                </div>

                <div class="col bg-gcc-primary landing-schedule overflow-auto" id="Scrollstyle">
                    <div class="schedule-semester">
                        <h4>Fall 2020</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 141</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 155</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>MATH 161</p>
                                </div>
                                <div class="col-5">
                                    <p>PHYS 101</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>HUMA 102</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Spring 2021</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 220</p>
                                </div>
                                <div class="col-5">
                                    <p>MATH 162</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>PHYS 102</p>
                                </div>
                                <div class="col-5">
                                    <p>WRIT 101</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>PHYE 100</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Fall 2021</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 222</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 244</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>MATH 213</p>
                                </div>
                                <div class="col-5">
                                    <p>HUMA 200</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>PSYC 101</p>
                                </div>
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Spring 2022</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 205</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 233</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 342</p>
                                </div>
                                <div class="col-5">
                                    <p>MATH 214</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>HUMA 202</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Fall 2022</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 325</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 422</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 390</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 401</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>HUMA 301</p>
                                </div>
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Spring 2023</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 314</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 340</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 350</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 402</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Fall 2023</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 448</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 451</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 435</p>
                                </div>
                                <div class="col-5">
                                    <p>HUMA 303</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-semester">
                        <h4>Spring 2024</h4>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 443</p>
                                </div>
                                <div class="col-5">
                                    <p>COMP 452</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>COMP 441</p>
                                </div>
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p>General Elective</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <button type="button" class="btn-dark btn-gcc">Print Schedule</button>
                <button type="button" class="btn-dark btn-gcc">Message Student</button>
                <button type="button" class="btn-dark btn-gcc">Edit Schedule</button>
            </div>
        </div>
    </body>
</html>