<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/project.css">
        <link rel="stylesheet" href="/static/css/studentPage.css">
        <link href="/static/css/advisorStudentSchedule.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
            <div class="row">
                <div class="col-3">
                  <button type="button" class="hb-btn rounded" id="backButton">Back</button>
                </div>
                <div class="col-3">
                  <button type="button" class="hb-btn rounded">Print Schedule</button>
                </div>
                <div class="col-3">
                  <button class="hb-btn rounded">Message Student</button>
                </div>
                <div class="col-3">
                  <button type="button" class="hb-btn rounded" id="editScheduleBtn">Edit Schedule</button>
                </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="height100p10 rounded" id="studentInfo">
                </div>
              </div>
              <div class="col">
                <div class="landing-schedule rounded overflow-auto p-2" id="Scrollstyle">
                  <div class="SSheaderText rounded p-2">
                    <h4> Course Schedule </h4>
                  </div>
                    {% for schedule in studentSchedule %}
                        <fieldset class="schedule-semester rounded">
                            <legend>{{schedule.get("semester")}} {{schedule.get("year")}}</legend>

                            {% for class in schedule.get("classes") %}
                                {% if loop.index % 2 == 1 %}
                            <div class="container rounded">
                                <div class="row justify-content-center">
                                {%endif%}
                                    <div class="col-5">
                                        <p>{{class}}</p>
                                    </div>
                                {% if loop.index % 2 == 0 or loop.index == loop.length %}
                                </div>
                            </div>
                                {%endif%}
                            {%endfor%}
                        </fieldset>
                    {% endfor %}
                </div>
              </div>
            </div>

        <!-- Javascripts -->
        <script src="/static/js/student-home.js"></script>
        <script>
            setStudentInfo(JSON.parse('{{student|tojson}}'))
        </script>

        <script>
            document.getElementById("backButton").onclick = function () {
                location.href = "/advisorHomePreview"
            };
        </script>

        <script>
            document.getElementById("editScheduleBtn").onclick = function () {
                location.href = "/advisorSchReview/"
            };
        </script>
    </body>
</html>
