<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/project.css">
        <link rel="stylesheet" href="/static/css/studentPage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <button type="button" class="hb-btn rounded">Print Schedule</button>
                <button type="button" class="hb-btn rounded" id="editScheduleBtn">Edit Schedule</button>
                <form class="form-inline" action="/logout" method="post">
                    <button class="hb-btn rounded" id="logoutbtn" type="submit">Logout</button>
                </form>
            </div>
            <div class="row">
                <div id="studentInfo">
                </div>

                <div class="col bg-gcc-primary landing-schedule overflow-auto" id="Scrollstyle">
                    {% for schedule in studentSchedule %}
                        <div class="schedule-semester">
                            <h4>{{schedule.get("semester")}} {{schedule.get("year")}}</h4>

                            {% for class in schedule.get("classes") %}
                                {% if loop.index % 2 == 1 %}
                            <div class="container">
                                <div class="row justify-content-center">
                                {%endif%}
                                    <div class="col-5">
                                        <p>{{class}}</p>
                                    </div>
                                {% if loop.index % 2 == 0 or loop.index == loop.length %}
                                </div>
                            </div>
                                {%endif%}
                            {%endfor%}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Javascripts -->
        <script src="/static/js/student-home.js"></script>
        <script>
            setStudentInfo(JSON.parse('{{student|tojson}}'))
        </script>

        <!-- <script>
            document.getElementById("logoutbtn").onclick = function () {
                location.href = "/login/"
            };
        </script> -->

        <script>
            document.getElementById("editScheduleBtn").onclick = function () {
                location.href = "/advisorSchReview/"
            };
        </script>
    </body>
</html>